/* AppLayout Component Styles */

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
}
