/* MainFrame Component Styles */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: transparent;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sd-system-dimension-spacing-large);
  gap: var(--spacing-sd-system-dimension-spacing-extra-large);
  background-color: transparent;
}

@media (min-width: 768px) {
  .content {
    padding: var(--spacing-sd-system-dimension-spacing-extra-large);
    gap: var(--spacing-sd-system-dimension-spacing-two-extra-large);
  }
}
